<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://use.fontawesome.com/ada434e0af.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Checkout Most Accurate Weather Information</p>
        </div>
        
        <form id="form1">
            <div class="wrap">
   <div class="search">
      <input type="text" id="search" class="searchTerm" placeholder="Enter Location">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
        </form> 

        
        <form id="form2">
  <input type="radio" id="f" name="gender" value="째f" checked> 째F
  &nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" id="c" name="gender" value="째c"> 째C<br>
</form> 
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>
<script>
    document.getElementById("weather").className = "active";
</script>
</html>